---
const psicologiaClinica = [
  {
    step: "1",
    name: "Psicoterapia y Psicodiagnostico",
    image: 'assets/imgs/src01.png',
    description: "Psicoterapia para adultos, adolescentes y personas mayores. Evaluación y acompañamiento especializado",
  },
  {
    step: "2",
    name: "Piscología Bariátrica y Deportiva",
    image: 'assets/imgs/src03.png',
    description: "Evaluación para cirugía bariátrica con apoyo postoperatorio. Preparación de deportistas y equipos deportivos.",
  },
  {
    step: "3",
    name: "Charlas y Talleres para Empresas",
    image: 'assets/imgs/src03.png',
    description: "Charlas y talleres online o presenciales para empresas sobre Salud Mental, Clima Laboral y temas contingentes.",
  },
];
---

<section id="especialidades" class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Áreas de Atención</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {/*Seccion psicologiaClinica*/}
        {
          psicologiaClinica.map((item) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-8 rounded-3xl px-6 py-8">
              <p class="text-sm">{item.step}</p>
              <div class="flex flex-col gap-4">
              {/* <img
                src={item.image}
                alt={item.name}
                class="w-full h-48 object-cover rounded-xl"
                /> */}
              </div>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{item.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {item.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
